body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b; /* Dark background */
    color: #f0f0f0; /* Light text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    width: 80%;
    max-width: 600px;
    background-color: #6a0e0e9e; /* Dark background for the game area */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

header h1 {
    color: #ff181c; /* title */
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Story Text */
.game-content p {
    font-size: 1.2em;
    color: #ff181c;
}

/* Choices Button */
.choices {
    margin-top: 20px;
}

.choice-button {
    background-color: #1f1f1f;
    border: 2px solid #ff181c; /* border */
    color: #ff181c;
    font-size: 1.1em;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.choice-button:hover {
    background-color: #ff0000;
    color: #1b1b1b;
}

/* Sanity Score */
#sanity {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff0000; /* Neon red for sanity */
}
